mixin popular-card(cardImg, cardName, cardCap, cardTags, cardPrice)
  .col.col--4
    .card
      .card__img(class=cardImg)
      a.card__heart
      .card__text-area
        h2.card__name #{cardName}
        p.card__caption #{cardCap}
        .card__tags-area
          each i in cardTags
            span.card__tags #{i}
        .card__footer
          .card__price #{cardPrice}
          a.button.button-addcart
            img.cart-img(src='./imgs/shopping_cart.svg' alt='')